Importando a biblioteca Pandas para as manipulações da base de dados

In [10]:
import pandas as pd

Carregando o csv hospedado no github, e salvando os dados em um dataframe

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/Marco87/Projects/master/Python/Projetos/Live%20de%20Python/df_cotacoes.csv", sep=",")

Criando uma nova coluna chamada descricao_maiuscula, com as letras da coluna descricao maiúsculas

In [12]:
df['descricao_maiuscula'] = df['descricao'].str.upper()

Trocando todas as letras 'A' pelo número '1' na coluna descricao_maiuscula

In [13]:
df['descricao_maiuscula'] = df['descricao_maiuscula'].str.replace('A','1')

Renomeando a coluna descricao_maiuscula para letras_maiusculas

In [14]:
df = df.rename(columns={'descricao_maiuscula':'letras_maiusculas'})

Removendo a coluna letras_maiusculas

In [15]:
df = df.drop('letras_maiusculas', axis=1)

Exibindo os nomes das colunas do dataframe gerado

In [17]:
print(df.columns)

Index(['moeda', 'data', 'valor', 'descricao'], dtype='object')

Exibindo apenas a coluna moeda

In [20]:
print(df['moeda'])

0       ADA
1       AED
2       AFN
3       ALL
4       AMD
       ...
1095    ZAR
1096    ZMK
1097    ZMW
1098    ZWD
1099    ZWL
Name: moeda, Length: 1100, dtype: object

Exibindo o dataframe completo

In [21]:
print(df)

     moeda        data         valor                          descricao
0      ADA  2023-10-01      3.910902                            Cardano
1      AED  2023-10-01      3.672500  Dirham dos Emirados Árabes Unidos
2      AFN  2023-10-01     77.962045                     Afegane afegão
3      ALL  2023-10-01    100.695090                                Lek
4      AMD  2023-10-01    393.399999                     Armenian Drams
...    ...         ...           ...                                ...
1095   ZAR  2023-10-05     19.524024                  Rand sul-africano
1096   ZMK  2023-10-05  21241.562413                    Kwacha zambiano
1097   ZMW  2023-10-05     21.241562                    Kwacha zambiano
1098   ZWD  2023-10-05    361.900000                  Dólar do Zimbábue
1099   ZWL  2023-10-05   5574.999163                  Dólar do Zimbábue

[1100 rows x 4 columns]